/** 
  Wrappers
*/

.wrapper-tr-tb, .wrapper-tr-tb2 {
  display: flex;
  flex-direction: column;
  height: 50px;
}

.wrapper-tr-tb {
  justify-content: flex-start;
}

.wrapper-tr-tb2 {
	justify-content: flex-end;
}

.wrapper-tr-bt {
  position: relative;
  background: white;
  top: -50px;
  height: 50px;
}

/**
  AOS Animations
*/

// Left -> Right Animation
[data-aos="tr-lr"] {
  white-space: nowrap;
  overflow: hidden;
  width: 0%;
  opacity: 0;
  transition-property: width, opacity;
  
  &.aos-animate {
    width: 100%;
    opacity: 1;
  }
}

// Top -> Bottom Animation
[data-aos="tr-tb"] {
  overflow: hidden;
  height: auto;
  flex: 0;
  transition-property: flex;
  
  &.aos-animate {
    flex: 1;
  }
}

// Top -> Bottom 2 Animation
[data-aos="tr-tb2"] {
  overflow: hidden;
  height: auto;
  flex: 0;
  transition-property: flex;
  
  &.aos-animate {
    flex: 1;
  }
}

// Bottom -> Top Animation
[data-aos="tr-bt"] {
  overflow: hidden;
  height: auto;
  position: absolute;
  top: 0;
  z-index: -10;
  transition-property: top;
  
  &.aos-animate {
    top: 50px;
  }
}

// Fade in
[data-aos="fi"] {
  opacity: 0;
  visibility: hidden;
  animation-name: a-fade-in;
  animation-duration: 0.95s;
  animation-fill-mode: forwards;

  &.aos-animate {
    opacity: 1;
    visibility: visible;
  }
}

// Fade in down
[data-aos="fi-d"] {
  opacity: 0;
  transform: translateY(-100%);
  visibility: hidden;

  &.aos-animate {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
}

// Fade in up
[data-aos="fi-u"] {
  opacity: 0;
  transform: translateY(100%);
  visibility: hidden;

  &.aos-animate {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
}

// Fade in left
[data-aos="fi-l"] {
  opacity: 0;
  transform: translateX(-100%);
  visibility: hidden;

  &.aos-animate {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
  }
}

// Fade in right
[data-aos="fi-r"] {
  opacity: 0;
  transform: translateX(100%);
  visibility: hidden;

  &.aos-animate {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
  }
}